/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*colors*/
/*colors*/
/*FONT-FACE*/
@font-face {
  font-family: opensanslight;
  src: url("../font/opensanslight/opensans-light.eot");
  src: url("../font/opensanslight/opensans-light.eot?#iefix") format("embedded-opentype"), url("../font/opensanslight/opensans-light.woff2") format("woff2"), url("../font/opensanslight/opensans-light.woff") format("woff"), url("../font/opensanslight/opensans-light.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: opensans;
  src: url("../font/opensansregular/opensans-regular.eot");
  src: url("../font/opensansregular/opensans-regular.eot?#iefix") format("embedded-opentype"), url("../font/opensansregular/opensans-regular.woff2") format("woff2"), url("../font/opensansregular/opensans-regular.woff") format("woff"), url("../font/opensansregular/opensans-regular.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*END FONT-FACE*/
/* line 40, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 44, ../sass/screen.scss */
a {
  color: #000;
  text-decoration: none;
}

/* line 49, ../sass/screen.scss */
.topic-wrapper {
  height: 40px;
  width: 100%;
  border: 1px solid red;
  margin-top: 30px;
}
/* line 55, ../sass/screen.scss */
.topic-wrapper span.topic {
  line-height: 40px;
  width: auto;
  text-transform: uppercase;
  position: relative;
  font-family: opensanslight;
  font-size: 12px;
}
/* line 63, ../sass/screen.scss */
.topic-wrapper span.topic:after {
  width: 10000%;
  height: 1px;
  background: #000;
  position: absolute;
  top: 50%;
  content: '';
  display: block;
  left: 140%;
}

/* line 79, ../sass/screen.scss */
.main-section-wrapper {
  border: 1px solid red;
  /*delete*/
  width: 1300px;
  height: 750px;
  margin: 100px auto 0 auto;
  background: url("../image/bg.png") 0 0 no-repeat;
  position: relative;
  /*- - - - main-section - - - -*/
  /*- - - - end main-section - - - -*/
}
/* line 87, ../sass/screen.scss */
.main-section-wrapper .company-name {
  width: 750px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top: 362px;
  right: -346px;
}
/* line 95, ../sass/screen.scss */
.main-section-wrapper .company-name p {
  color: #9fa1a0;
  font-family: opensanslight;
  text-transform: uppercase;
  font-size: 24.46px;
  letter-spacing: 1px;
  text-align: center;
}
/* line 103, ../sass/screen.scss */
.main-section-wrapper .company-name p span {
  margin-right: 35px;
}
/* line 110, ../sass/screen.scss */
.main-section-wrapper .main-section {
  /*border: 1px solid #fff;*/
  background: rgba(255, 255, 255, 0.6);
  width: 1140px;
  height: 590px;
  margin: 80px auto 0 auto;
  overflow-x: hidden;
}
/* line 118, ../sass/screen.scss */
.main-section-wrapper .main-section:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
/* line 125, ../sass/screen.scss */
.main-section-wrapper .main-section .left-side {
  width: 200px;
  height: 100%;
  float: left;
  -webkit-box-shadow: 14px 0px 22px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 0px 22px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 14px 0px 22px -12px rgba(0, 0, 0, 0.75);
}
/* line 133, ../sass/screen.scss */
.main-section-wrapper .main-section .left-side .boss-logo-wrapper {
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100px;
  position: relative;
}
/* line 139, ../sass/screen.scss */
.main-section-wrapper .main-section .left-side .boss-logo-wrapper .boss-logo {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 147, ../sass/screen.scss */
.main-section-wrapper .main-section .left-side .boss-logo-wrapper .boss-logo:after {
  display: block;
  clear: both;
  content: '';
  height: 0;
}
/* line 154, ../sass/screen.scss */
.main-section-wrapper .main-section .left-side .boss-logo-wrapper .boss-logo img {
  float: left;
}
/* line 158, ../sass/screen.scss */
.main-section-wrapper .main-section .left-side .boss-logo-wrapper .boss-logo p {
  font-family: opensanslight;
  font-size: 11px;
  font-weight: bold;
  color: #000;
  float: right;
  margin-top: 20px;
}
/* line 171, ../sass/screen.scss */
.main-section-wrapper .main-section .left-side ul.side-menu li {
  background: rgba(255, 255, 255, 0.7);
  height: 40px;
  border-top: 1px solid #b3b5b5;
}
/* line 176, ../sass/screen.scss */
.main-section-wrapper .main-section .left-side ul.side-menu li:last-child {
  border-bottom: 1px solid #b3b5b5;
}
/* line 180, ../sass/screen.scss */
.main-section-wrapper .main-section .left-side ul.side-menu li a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: left;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 10px;
  font-family: opensanslight;
  padding-left: 20%;
}
/* line 192, ../sass/screen.scss */
.main-section-wrapper .main-section .left-side ul.side-menu li:hover {
  background: transparent;
  border: none;
}
/* line 199, ../sass/screen.scss */
.main-section-wrapper .main-section .left-side .bottom-block {
  background: rgba(255, 255, 255, 0.7);
  height: 290px;
  width: 100%;
  position: relative;
}
/* line 205, ../sass/screen.scss */
.main-section-wrapper .main-section .left-side .bottom-block img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 215, ../sass/screen.scss */
.main-section-wrapper .main-section .right-side {
  width: 940px;
  height: 100%;
  border: 1px solid red;
  float: right;
  padding-left: 9px;
}
/* line 222, ../sass/screen.scss */
.main-section-wrapper .main-section .right-side .slider {
  border: 1px solid blue;
  height: 230px;
}
